/* AutoCampaignsTable.css */

.tableContainer {
  display: flex;
  height: 68vh;
}

@media (max-height: 600px) {
  .tableContainer {
    height: 25vh;
  }
}

@media (max-height: 800px) {
  .tableContainer {
    height: 55vh;
  }
}

.campaignInfo {
  display: flex;
  gap: 5px;
}

.campaignList {
  width: 60%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding: 16px;
  background-color: #f9f9f9;
}

.campaignStatus {
  padding: 2px 5px 2px 5px;
  width: fit-content;
  border-radius: 5px;
  font-size: 10px;
}

.campaignCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
}

.campaignCard:hover {
  transform: scale(1.02);
}

.campaignCardContent {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.campaignName {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'BebasNeue', sans-serif;
}

.campaignDetails {
  font-size: 14px;
  color: #555;
  margin-top: 0.3rem;
  display: flex;
  justify-content: left;
  gap: 5px;
}

.campaignImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 16px;
}

.campaignDetailsContainer {
  width: 40%;
  padding: 16px;
  background-color: #ffffff;
}

.campaignDetailsWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 68vh;
}

@media (max-height: 600px) {
  .campaignDetailsWrapper {
    height: 25vh;
  }
}

@media (max-height: 800px) {
  .campaignDetailsWrapper {
    height: 55vh;
  }
}

.campaignParameters {
  padding: 16px;
  /* border-bottom: 1px solid #ddd; */
  margin-bottom: 16px;
  font-size: 1rem;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.excludedPhrases {
  flex: 1;
  overflow-y: auto;
}

.excludedPhrase {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 0.875rem;
  background-color: #ffcfcf;
}

.noCampaignSelected {
  font-size: 1rem;
  color: #999;
  text-align: center;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightPart {
  align-items: center;
  display: flex;
  gap: 50px;
}

.actionButton:hover {
  scale: 1.2;
  cursor: pointer;
}

.bin:hover {
  cursor: pointer;
  scale: 1.2;
  color: red;
}

.partCampaign {
  display: flex;
  flex-direction: row;
}

.partCampaignInfo {
  width: 90%;
}

.partActionButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
