.fullSection {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  .secondBlock {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    gap: 2vw;
  }
  .thirdBlock {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
    height: 25vw;
  }
}
