.fullSection {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  .secondBlock {
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: space-between;
    gap: 2vw;
  }
}
