.campRow {
  display: flex;
  background-color: rgb(249, 249, 249);
  min-height: 60px;
  margin-top: 5px;
  justify-content: space-between;
  width: 100%;
}

.tableBody {
  display: flex;
  height: 65vh;
  flex-direction: column;
}
