.skuBaseCell {
  display: flex;
  flex-direction: row;
  background-color: rgb(249, 249, 249);
  .sku {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 9px;
    padding: 2px;
  }
  .sku:hover {
    cursor: copy;
  }
  .skuPhoto {
    min-width: 45px;
    max-width: 45px;
    max-height: 100%;
    min-height: 100%;
    background-size: cover; /* картинка заполняет div */
    background-position: center; /* центрируем */
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
  }
  .nameAndDate {
    min-width: 140px;
    max-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .skuName {
      font-size: 12px;
    }
    .creationDate {
      font-size: 10px;
    }
  }
}

.statusCell,
.bidTypeCell,
.bidsCell,
.activeHoursCell,
.ctrBenchCell,
.turnoverCell,
.totalSpendCell,
.totalCtrCell,
.viewsCell,
.clicksCell,
.spendCell,
.ctrCell,
.actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalCtrCell,
.totalSpendCell {
  font-family: 'BebasNeue', sans-serif;
  font-size: 22px;
  color: #623fc0;
}

.zeroStat {
  color: gray;
}

.actionButtons {
  gap: 5px;
  color: gray;
  .startButton {
  }
  .pauseButton {
  }
  .deleteButton {
  }
  .settingsButton {
  }
}

.ruble {
  font-size: 15px;
  padding-bottom: 3px;
}
