/* Общие стили для таблицы */
.ganttTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.ganttTable thead {
  height: 80px;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
  max-height: 320px;
}

.tableWrapper::-webkit-scrollbar {
  height: 0px;
}

/* Стили для заголовков */
.ganttTable th,
.ganttTable td {
  padding: 8px;
  outline: 1px solid #fff;
  font-family: 'BebasNeue', sans-serif;
  /* border: 1px solid #ffffff; */
}

.ganttTable th {
  background-color: #f4f4f4;
  font-weight: bold;
  position: sticky;
  /* outline: 1px solid #fff; */
}

/* Стили для ячеек с остатками */
.cellGreen {
  background-color: #2fd089; /* Полностью зелёный */
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

.cellYellow {
  background-color: #c7d02f; /* Частично заполненный */
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

.cellRed {
  background-color: #d02f76; /* Полностью красный */
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  color: white;
}

/* Стили для баркодов */
.barcodeColumn {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: sticky;
  left: 0;
  font-weight: bold;
  background-color: #ffffff;
  position: sticky;
  z-index: 3;
}

.newOrderColumn {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
  left: 204px;
  position: sticky;
  z-index: 3;
  background-color: #ffffff;
  align-items: center;
}

.ordersColumn {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  left: 58px;
  position: sticky;
  z-index: 3;
  background-color: #ffffff;
}

.newOrderColumn input {
  width: 75px;
  border-radius: 5px;
  border: 1px solid #2a9ed5;
  text-align: center;
  height: 20px;
  align-items: center;
}

.cellPurple {
  background-color: #382fd0;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  color: white;
}

.cellGray {
  background-color: #929292;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  color: white;
}

.cellBlue {
  background-color: #2a9ed5;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  /* color: white; */
}

.artBlock {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 320px;
  align-items: center;
}

.headerBlock {
  display: flex;
  flex-direction: column;
  height: 200px;
  top: 0;
  position: sticky;
  z-index: 10;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  background-color: #fff;
  margin-bottom: 2px;
}

.headerFiltersButtons {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: start;
}

.actionButtons {
  display: flex;
  align-items: center;
}

.leftHeaderPart {
  min-width: 700px;
  display: flex;
  margin-right: 1px;
  height: 100%;
  font-family: 'BebasNeue', sans-serif;
  background-color: #f4f4f4;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.artInfo {
  width: 700px;
  border: 1px solid black;
  height: 100%;
  border-radius: 20px;
  display: flex;
}

.vcName {
  display: flex;
  flex-direction: row;
  font-family: 'BebasNeue', sans-serif;
  font-size: 20px;
  gap: 10px;
}

.infoBlock {
  display: grid;
  height: 100%;
  flex-direction: column;
  width: 520px;
  gap: 20px;
}

.plotBlock {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.imageBlock {
  width: 180px;
  padding: 20px;
}

.metrics {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.metricBox {
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'BebasNeue', sans-serif;
}

.metricName {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.metricValue {
  font-size: 18px;
  font-weight: bold;
  color: #8254ff;
}

.zoomImage {
  width: 100%;
  object-fit: cover; /* Масштабирование изображения без искажения */
  border-radius: 10px;
}

.abcCategory {
  z-index: 2;
  display: flex;
  color: rgb(247, 247, 247);
  background-color: black;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-family: 'BebasNeue', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  gap: 30px;
}

.abcCategory small {
  font-size: 10px;
}

.cell {
  width: 60px;
  min-width: 40px;
  max-width: 40px;
}

.sumOrderDiv {
  margin-top: 5px;
  font-size: 30px;
}

.remainingColumn {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  left: 126px;
  position: sticky;
  z-index: 3;
  background-color: #ffffff;
}

.actionButton {
  /* position: absolute;
  right: 100px; */
  background-color: #000000;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  font-family: 'BebasNeue', sans-serif;
  border: none;
  margin-left: 10px;
}

.actionButton:hover {
  background-color: #6c46d6;
  cursor: pointer;
}

.paginator {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  height: 40px;
}

.pageIcon {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentPage {
  background-color: #6c46d6;
  color: white;
  border: 1px solid #6c46d6;
}

.pageIcon:hover {
  background-color: #6c46d6;
  color: white;
  cursor: pointer;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ordersPlot {
  display: flex;
  flex-direction: column;
  font-family: 'BebasNeue', sans-serif;
  width: 200px;
  align-items: center;
  vertical-align: center;
}

.summary {
  font-size: 12px;
  margin-top: 2px;
  font-family: 'Verdana', Verdana, sans-serif;
}

.disabledScroll {
  -moz-appearance: textfield;
}
.disabledScroll::-webkit-inner-spin-button {
  display: none;
}

.colorSelector {
  display: flex;
  justify-content: space-between;
}

.iconBox {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: black;
  gap: 5px;
  text-decoration: none;
  cursor: pointer;
}

.summaryRow {
  position: sticky;
  bottom: 0;
  z-index: 3;
}

.summaryRowBlank {
  background-color: white;
}
