.buttonCreate {
  height: 30px;
  padding: 0px 5px 0px 5px;
  max-width: 150px;
  min-width: 150px;
  background-color: rgb(140, 140, 140);
  border: none;
  color: white;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.buttonCreate:hover {
  cursor: pointer;
  background-color: #623fc0;
}
