.paginatorDefault {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.pageArrow {
  color: gray;
  cursor: pointer;
}

.pageArrow:hover {
  color: #623fc0;
}

.disabledArrow {
  cursor: default;
  color: lightgray;
}
