.cell {
  border-right: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  z-index: 1;
  font-family: 'BebasNeue', sans-serif;
  text-transform: uppercase;
  position: relative;
  height: 80px;
}

.tagsContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
  min-width: 140px;
  max-width: 140px;
  overflow-y: auto;
  height: 65px;
  flex-wrap: wrap;
  row-gap: 0px;
  padding-bottom: 5px;
  align-items: center;
}

.tag {
  background-color: #f0f0f0;
  color: #333;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 10px;
  font-weight: bold;
  height: 8px;
}

.tag .clicable:hover {
  cursor: pointer;
}

.addButton {
  background-color: #623fc0;
  color: white;
  border: none;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.addButton:hover {
  cursor: pointer;
  scale: 1.1;
  transform: rotate(90deg);
}

/* Выпадающее окно через портал */
/* Выпадающее окно через портал */
.dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10000;
  animation: fadeIn 0.2s ease-out;
  font-family: 'BebasNeue', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown h4 {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  margin: 10px 0;
  min-height: max-content;
  max-height: 100px;
  overflow-y: auto;
}

.tagOption {
  background-color: #f0f0f0;
  padding: 6px 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 12px;
  height: 12px;
}

.tagOption:hover {
  background-color: #7659c6;
  color: white;
}

.selected {
  background-color: #623fc0;
  color: white;
}

/* Поле ввода нового тега */
.newTagContainer {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.newTagInput {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.addTagButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.addTagButton:hover {
  cursor: pointer;
  scale: 1.1;
}

.acceptButton {
  background-color: #623fc0;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
  font-family: 'BebasNeue', sans-serif;
}

.acceptButton:hover {
  background-color: #7659c6;
  cursor: pointer;
}
