.buttonCreate {
  position: absolute;
  right: 100px;
  background-color: #8254ff;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-transform: uppercase;
  width: 150px;
  height: 30px;
  font-family: 'BebasNeue', sans-serif;
  border: none;
}

.settingsButton {
  position: relative;
  left: 10px;
  color: gray;
  font-size: 20px;
}

.settingsButton:hover {
  scale: 1.2;
  cursor: pointer;
}

.buttonCreate:hover {
  background-color: #6c46d6;
  cursor: pointer;
}
