.filtersMainDiv {
  display: flex;
  width: 100%;
  height: 3vw;
  overflow-x: auto;
  margin-bottom: 10px;
  align-items: center;
  gap: 0.5vw;
}

.count {
  min-width: 10vw;
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.5vw;
  color: gray;
}
