.toggleContainer {
  padding: 1rem;
  background-color: #f1f2fa; /* bg-gray-100 */
  border-radius: 1.4rem;
  max-width: 900px;
  min-width: 540px;
  margin: 0 auto;
}

.toggleBlock {
  display: flex;
  height: 32rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.toggleSide {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.toggleSide.left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.toggleSide.right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.toggleSide.active {
  background-color: #ffffff; /* bg-indigo-700 */
  color: rgb(28, 28, 28);
  padding: 0;
  cursor: default;
}

.toggleSide.inactive {
  background-color: #d1d5db; /* bg-gray-300 */
  color: #374151; /* gray-800 */
}

.wide {
  flex: 9;
}

.narrow {
  flex: 1;
}

.toggleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggleContent h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-family: 'BebasNeue', sans-serif;
}

.toggleContent div {
  font-size: 1rem;
}

/* Вертикальный текст */
.verticalLabel {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  color: #808080; /* gray-800 */
  font-family: 'BebasNeue', sans-serif;
}

.toggleContent {
  opacity: 0;
}

.toggleContent.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.toggleContent.hidden {
  opacity: 0;
  pointer-events: none;
}

.tagCategoryList {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tagCategory {
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 0.6rem;
  cursor: pointer;
}
.activeCategory {
  color: #70dc2a;
  background-color: #3a4f48;
  border: none;
}

.uploadBtn {
  display: inline-flex;
  align-items: center;
  background-color: #ffffff;
  color: #1f2937;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s ease;
}

.uploadBtn:hover {
  background-color: #f9fafb;
}

.uploadBtn .icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.uploadedBtn {
  display: inline-flex;
  align-items: center;
  color: #1f5f26;
  background-color: #e7e7e7;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s ease;
}

.uploadedBtn .icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.actionBtn {
  display: inline-flex;
  align-items: center;
  color: #fff;
  background-color: #3b82f6;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s ease;
}

.actionBtn .icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.actionBtn:hover {
  background-color: #2563eb;
  cursor: pointer;
}

.buttonsGroup {
  display: flex;
  flex-direction: column;
}

.infoText {
  margin-top: 10px;
  background-color: #dcdcdc;
  align-items: center;
  padding: 10px;
  justify-self: center;
  width: 80%;
  color: #808080;
  border-radius: 1.5rem;
}

.tagsField {
  margin-top: 10px;
  background-color: #f1f2fa;
  padding: 10px;
  width: 80%;
  color: #808080;
  border-radius: 1.5rem;
  display: flex; /* Включаем Flexbox */
  flex-wrap: wrap; /* Разрешаем перенос элементов на следующую строку */
  gap: 10px; /* Задаем расстояние между прямоугольниками */
  overflow-y: auto;
  height: 100px;
}

.tagsField::-webkit-scrollbar {
  width: 0px;
}

.tag {
  border: #1f2937 solid 1px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}

.tagChosen {
  color: white;
  background-color: #3b82f6;
  border: #3b82f6 solid 1px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}
