.skuNameFilter {
  min-width: 300px;
  max-width: 300px;
  padding: 5px;
  input {
    width: 100%;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(215, 215, 215);

    /* box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2); */
  }
  input:focus {
    border: 1px solid rgb(106, 3, 122);
    outline: none;
  }
  input:focus::placeholder {
    color: transparent;
  }
  input::placeholder {
    color: rgb(184, 184, 184);
  }
}
