.itemsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  min-height: 40vw;
  max-height: 40vw;
  overflow-y: auto;
}

.filtersWButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  .buttonXLSX,
  .buttonDisabled {
    height: 2vw;
    min-width: 8vw;
    border-radius: 1vw;
    border: 0.05vw solid gray;
    cursor: pointer;
    font-size: 0.8vw;
  }
  .buttonDisabled {
    cursor: default;
  }
  .buttonXLSX {
    background-color: blueviolet;
    color: white;
    border: 0.05vw solid blueviolet;
  }
}

.orderCard {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border: 0.05vw solid #e5e5e5;
  border-radius: 1vw;
  padding: 1vw;
  background: #fff;

  .topSide {
  }

  .bottomSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.left {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.meta {
  margin-top: 1vw;
  font-size: 1vw;
  font-family: 'BebasNeue', sans-serif;
  display: flex;
  gap: 0.2vw;
  flex-direction: column;
}

.vendor {
  font-weight: 600;
}

.date {
  font-size: 0.7vw;
  color: #777;
  margin-bottom: 1vw;
}

.sizes {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: 'BebasNeue', sans-serif;
}

.sizeRow {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sizeRow label {
  width: 36px;
  font-size: 1vw;
  min-width: 3vw;
}

.sizeRow input {
  width: 60px;
  padding: 4px;
  height: 1.5vw;
  text-align: center;
  border-radius: 0.5vw;
  border: 0.01vw solid gray;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.deleteButton:hover {
  color: red;
  cursor: pointer;
}
