.statusTag,
.bidTypeTag,
.timeTag,
.turnoverThresholdTag,
.ctrBenchTag {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  padding: 3px 6px 3px 6px;
  border-radius: 4px;
  gap: 3px;
  background-color: #750bd1;
  color: white;
}

.pausedStatus {
  background-color: rgb(221, 134, 4);
}

.activeStatus {
  background-color: rgb(78, 143, 78);
}

.waitingForLaunch {
  background-color: rgb(3, 133, 232);
}

.errorStatus {
  background-color: rgb(149, 10, 10);
}

.endedStatus {
  background-color: rgb(91, 91, 91);
}

.bidsTagsBox {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 5px;
  .bidAmount {
    min-width: 20px;
    padding: 2px 4px 2px 4px;
    color: rgb(81, 81, 81);
    border: 0.5px solid rgb(81, 81, 81);
    border-radius: 4px;
    background-color: white;
    cursor: default;
  }
  .bidRowTag {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: rgb(78, 143, 78);

    .disabledPlacement {
      color: rgb(239, 100, 100);
    }
  }
}

.turnoverBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  min-width: 130px;
  max-width: 130px;
  .byBarcodeTag {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: rgb(47, 47, 172);
  }
  .turnoverThresholdTag {
    min-width: 70px;
    display: flex;
    justify-content: center;
  }
  .turnoverDays {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
    border-radius: 4px;
    gap: 3px;
    background-color: #737373;
    color: white;
  }
  .turnoverThresholdTagDisabled {
    width: 100%;
    background-color: #c1bfbf;
  }
}

.barWrapper {
  position: relative;
  width: 80px;
  height: 40px;
  text-align: center;
  .chartContainer {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
  }
  .dimmed {
    opacity: 0.6;
  }

  .sumOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-size: 22px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'BebasNeue', sans-serif;
  }

  .visible {
    opacity: 1;
  }

  .hidden {
    opacity: 0;
  }

  .sumPositive {
    color: #623fc0;
  }

  .sumNegative {
    color: #c11414;
  }
}

.noData {
  color: lightgrey;
}
